body {
  background-color: #0B0D17;
  nav {
    font-family: 'Barlow Condensed', sans-serif;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        a{
          text-decoration: none;
          color: #FFFFFF;
        }
      }
    }
  }

  .title-init {
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
  }

  .title {
    color: #FFFFFF;
  }

  .description-index {
    font-family: 'Cabin', sans-serif;
    color: #D0D6F9;
  }

  // Mini phone - Mobile    
  @media (min-width: 0px) and (max-width: 320px) {
  
  }

  // // Phone Only
  // @media (min-width: 321px) and (max-width: 599px) {
  // //  background-color: aqua;
  // }

  // // Tablet Only

  // @media (min-width: 600px) and (max-width: 768px) {
  //   background-color: blue;
  // }

  // // Laptop Only
  // @media (min-width: 769px) and (max-width: 1024px) {
  //   background-color: blueviolet;
  // }

  // // Desktop Up
  // @media (min-width: 1025px) {
  //   background-color: brown;
  // }

}

